<html>
	<head>
		<title>Ur blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Its Ur 1st Blog</a></h1>
			<h2>And u trying do it good</h2>
			<p>And mb its happend sometime</p>
		</div>
		
		<div>
			<p>published: 01.01.1993, 00:15</p>
			<h2><a href="">2nd post</a></h2>
			<p>Some text for style</p>
		</div>
		
		<div>
			<p>published: 31.12.2000, 20:20</p>
			<h2><a href="">My last post with JIRNIY text</a></h2>
			<strong>Eto Jirniy Text</strong>
			<em>A vot eto text with line__down</em>
		</div>
		
	</body>
</html>